body{
    background-image:url("https://cdn.pixabay.com/photo/2017/02/23/21/41/wall-2093277__340.jpg");
 }
#Seasons,#Episodes,#Characters,#FanBase{
    color:red;
    height:60px;
    width:100px;
    background-color: lightblue;
    

}
 
.lie{
    color:yellow;
}
.mainimg{
    height:1000px;
    width:1500px;
}
.heading{
    color:red;
    text-align:center ;
}
.begin{
    text-align:center;
    color:yellow;
    background-color:blue;
}
.rules1{
    text-shadow:2px 3px 4px grey;
    color:black;
}
.Starting{
    color:gold;
    font-family:cursive;
    text-align:center ;
    background-image:url("http://files.all-free-download.com//downloadfiles/wallpapers/2560_1600/beautiful_nature_9303.jpg");
    padding:6px;
    border-width:10px;
}
#phoebe{
    color:red;
}
#creative2{
    background-color:yellow;
    
}
#img1,#img2,#img3,#img4{
    height:400px;
    width:400px;
}
#div{
    text-align:center;
}
.ad{
    
    text-align:center;
    animation-name:Anim1;
    animation-duration:4s; 
    animation-delay:2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: Anim1;
    -webkit-animation-duration: 4s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
}
@keyframes Anim1{
    0% {background-color:rgb(0, 128, 128);}
    20% {background-color: yellow;}
    60% {background-color: pink;}
    80% {background-color:orange;}
    100% {background-color:lightgrey}
}
    @-webkit-keyframes Anim1{
        0% {background-color:rgb(0, 128, 128);}
        20% {background-color: yellow;}
        60% {background-color: pink;}
        80% {background-color:orange;}
        100% {background-color:lightgrey}
    }
    a:hover{
        color:red;
    }
    




